body {
  background: #ffffff;
  font-family: Monforat, Helvetica, Arial, sans-serif;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
}

@import 'util';

@import 'pages/login';
