@import "util";
@import "variables";

body {
  background: #ffffff;
  font-family: $font-family-primary;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
}

@import "pages/login";
