@import "variables";
@import "util";

body {
  background: #ffffff;
  font-family: $font-family-primary;
  font-weight: 400;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
}

@import "pages/login";
